<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="ParentFastCGI" />
            <add name="ParentFastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP82NTS\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
