body {
    margin: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.3;
    color: #333;
    text-align: left;
    background-color: #fff;
}

iframe#iframe-map {
    width: 100%;
    height: 80vh;
}

.smallest {
    font-size: .6em !important;
}

.dataTables_length select {
    width: 5em !important;
}

.dropdown-menu {
    min-width: 15em !important;
}

div#geoposition-box {
    position: fixed;
    bottom: .5em;
    z-index: 1050;
    color: #fff;
    width: 24%;
    left: 0;
    background-color: #00000088;
}

button.tasten {
    width: 5em;
}

div.wea-zoom-live-view {
    position: fixed;
    z-index: 1000002;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #00000098;
}

iframe.zoom-cam-live {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -30%);
}

div#diverseModal {
    z-index: 2000;
}

div#myTabContent {
    position: relative;
    z-index: 0;
}

img.img-mini {
    width: 30px;
}

div#prevent-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #00000078;
    top: 0;
    left: 0;
}

div#offline-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#action-alerts {
    position: fixed;
    bottom: 2em;
    width: 100%;
    z-index: 10000;
}

.form-control {
    border: 1px solid #b6b6b6 !important;
}

select.form-control {
    outline: none;
    background-color: blanchedalmond;
    color: #333 !important;
}

.ui-menu {
    max-height: 20em;
    overflow-y: auto;
    padding: .2em;
}

button#btn-send_to_evochat {
    position: fixed;
    bottom: 3em;
    left: 2em;
    z-index: 1000;
}


audio {
    display: block;
    height: 2em;
    width: 15em;
    border: 1px solid #ccc;
    border-radius: .8em;
    margin-top: .3em;
}

.display-1 {
    font-size: 4.75rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    top: 50px;
}

iframe.frame-height {
    height: 100vh;
}

.sb-topnav {
    top: -70px;
}

.body-image {
    background-image: url("../images/dashboard/appbg.jpg") !important;
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
}

.doc-content {
    padding-top: 0;
}

a.link {
    text-decoration: none;
}

.spinner-grow {
    width: 1rem;
    height: 1rem;
}

.ui-widget-overlay {
    background: #000000;
    opacity: .5;
    filter: Alpha(Opacity=.3);
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: .2em;
    padding: .2em 1em;
}

li.nav-item {
    list-style-type: none;
}

.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: bold;
    font-size: .875rem;
    background-color: #00566a;
}

.table td {
    font-size: unset;
}

.sb-topnav .navbar-brand {
    width: unset;
}

.hideelem {
    display: none;
}

.navbar .navbar-menu-wrapper {
    background: unset;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #9b9b9b;
    padding-left: 2.55rem;
    padding-right: 2.55rem;
    width: calc(100%);
    height: 55px;
}

.content-wrapper {
    background: #dddce1;
    padding: 0 !important;
    width: 100%;
    /* -webkit-flex-grow: 1; */
    flex-grow: 1;
}

.card-height-small {
    max-height: 80px;
    overflow: hidden;
    transition: all 1s;
}

.font-larger {
    font-size: 1.5em !important;
}

.small {
    font-size: .8em !important;
}

.btn-info {
    color: #000;
    background-color: #68afff !important;
    border-color: #68afff !important;
}

.smaller {
    font-size: .7em !important;
}

.bg-primary-custom {
    background-color: hsl(207, 100%, 83%) !important;
}

.alert-success-custom {
    background-color: lightgreen !important;
    color: rgb(0, 97, 0) !important;
}

.alert-warning-custom {
    background-color: orange !important;
    color: rgb(255, 133, 62) !important;
}

.btn-success-custom {
    background-color: #32dd8e !important;
}

.btn-danger-custom {
    background-color: #ff6666 !important;
}

.card-head-hover:hover {
    cursor: move;
}



.small-viewport {
    font-size: .8em !important;
}

@media (min-width: 300px) {
    .width-20 {
        width: 12em;
    }
}

@media (min-width: 576px) {
    .modal-dialog.modal-defaultsize {
        max-width: 100%;
    }

    #evochatModal {
        width: 100% !important;
    }

    .modal-dialog.modal-dialog-protokoll {
        max-width: 60% !important;
    }

    #evochatModal {
        width: 33% !important;
    }
}

@media (min-width: 992px) {
    .modal-dialog.modal-defaultsize {
        max-width: 80%;
    }

    #evochatModal {
        width: 60% !important;
    }
}

.modal-fullscreen {
    width: unset !important;
}

div#status {
    background-color: #e4e4e4;
}

div#uhrzeit {
    position: fixed;
    bottom: 2em;
    left: 1em;
    font-size: 2.2em;
    background-color: lavender;
    padding: 0.2em 0.8em;
    border-radius: 0.3em;
}

.ui-autocomplete {
    z-index: 2000;
}

div#getmessage {
    max-height: 80vh;
    position: fixed;
    min-width: 15em;
    max-width: 24em;
    min-height: 3em;
    padding: 0.2em 0.5em .2em .8em;
    bottom: 4em;
    right: 1.5em;
    border-radius: .3em;
    background-color: lavender;
    overflow: auto;
}

.img-thumbnail {
    padding: .1rem !important;
}

.ui-icon {
    width: 0px !important;
    height: 0px !important;
}

div#camera-frame {
    position: fixed;
    width: 5%;
    bottom: 2.5em;
    left: 5em;
    cursor: pointer;
}

div#warning-to-driver {
    z-index: 10000;
    position: fixed;
    left: 50%;
    width: 90% !important;
    top: 25%;
    transform: translate(-50%, -30%);
    padding: 2em 2em !important;
}

@media (max-width: 499px) {
    .modal-xl {
        width: unset;
    }

    div#attachment-frame {
        position: fixed;
        left: 50%;
        width: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        background-color: #fff;
    }

    audio {
        display: block;
        height: 2em;
        width: 13em;
        border: 1px solid #ccc;
        border-radius: .8em;
        margin-top: .3em;
    }
}

@media (min-width: 500px) {
    .width-20 {
        width: 12em !important;
    }

    .modal-dialog.modal-dialog-protokoll {
        max-width: 95% !important;
        width: 95% !important;
    }

    #evochatModal {
        width: 95% !important;
    }

    .modal-dialog.modal-sm {
        max-width: 95% !important;
    }

    .btn-lg, .btn-group-lg>.btn {
        padding: 1rem 3rem;
        font-size: 1.5rem;
        border-radius: 0.1875rem;
    }

    .modal-xl {
        width: 550px;
    }

}

@media (min-width: 576px) {
    .modal-dialog.modal-dialog-protokoll {
        max-width: 80% !important;
        width: 80% !important;
    }

    .modal-dialog.modal-sm {
        max-width: 40% !important;
    }

    .selectArea {
        max-width: 30% !important;
        margin: 1.75rem auto;
    }

    .container, .container-sm {
        max-width: 1150px;
    }

    .navbar-toggler {
        padding: .1rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .3rem;
        background-color: #898989;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: .8em;
        vertical-align: middle;
        content: "";
        background: 50%/100% 100% no-repeat;
    }
}

div#column-im-prozess, div#column-warteschlange {
    min-height: 450px;
    overflow: auto;
    z-index: 10000 !important;
}

.btn-twitter.btn-social-icon-text i {
    background: #1cc100;
    padding: .5rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.btn-twitter.btn-social-icon-text {
    padding: 0 1.2rem 0 0;
    background: #1cc100;
}


@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1150px;
    }

    .width-20 {
        width: 16em !important;
    }

    .selectArea {
        max-width: 80% !important;
        margin: 1.75rem auto;
    }

    div#workspace {
        min-height: 70vh;
        overflow: auto;
    }

    .btn-lg, .btn-group-lg>.btn {
        padding: 1rem 3rem;
        font-size: unset;
        border-radius: 0.1875rem;
    }

    .modal-xl {
        width: 900px;
    }
}

@media (min-width: 1100px) {
    .modal-dialog.modal-dialog-protokoll {
        max-width: 60% !important;
        width: 60% !important;
    }

    .modal-dialog.modal-sm {
        max-width: 30% !important;
    }

    div#column-im-prozess, div#column-warteschlange {
        /* height: 90vh; */
        overflow: auto;
    }


}

div#chart-content {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
}

.row {
    margin-left: 0;
    margin-right: 0;
}


div#modal-content {
    height: 80vh;
    overflow: auto;
}

.table td, .table th {
    padding: .2rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    max-height: 81%;
    overflow: auto;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: unset !important;
    border-top: 1px solid #e3e6f0;
}

.spinner-border.updaterspinner {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    vertical-align: text-bottom;
    border: .1em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}

.pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.nav-item .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    margin-left: .9rem;
    margin-top: .25rem;
}

button#navbarBottomToggle {
    left: unset;
    margin: 1rem;
}

.change-opacity {
    opacity: .2;
}

div#timediv {
    position: fixed;
    top: 0;
    right: .2rem;
    width: 15rem;
    z-index: 2000;
}

.bg-login-image {
    background-image: url("img/KDM.png") !important;
    background-position: center;
    background-size: unset;
    background-repeat: no-repeat;
}

.modal-backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.modal-header {
    cursor: move;
}

.einlagerung-offen {
    background-color: #ffcf00;
}

.einlagerung-quittiert {
    background-color: #db1ab4;
}

.auslagerung-offen {
    background-color: #008eff;
}

.auslagerung-quittiert {
    background-color: #00c5d9;
}

.einlagerung-alt {
    background-color: red;
}

.auslagerung-alt {
    background-color: #ff4f4f;
}

.zeile-hover:hover {
    background-color: blue !important;
    color: azure !important;
}

.ui-widget-overlay {
    background: #000000;
    opacity: .4;
    filter: Alpha(Opacity=.3);
}

button.ui-dialog-titlebar-close {
    background-color: red;
}

div#column-middle {
    min-height: 85vh;
}

.btn-primary {
    color: #fff;
    background-color: #248afd;
    border-color: #248afd;
}

div#dataTable_filter {
    text-align: right;
}

.font-semilarge {
    font-size: 1.1em !important;
}

.font-large {
    font-size: 1.3em !important;
}

#iframe-locations {
    width: 100%;
    min-height: 85vh;
    overflow: auto;
}



#pforte, #skd, #we1, #we2, #we3 {
    background-color: yellow;
    padding: 0em;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

#pforte {
    margin-top: 701px;
    margin-left: 411px;
}

div#overlay {
    position: fixed;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6e6e6e;
    z-index: 2000;
}

div#spinner {
    position: fixed;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
    z-index: 2000;
}

.box-middle {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* div#qr-reader {
    position: fixed;
    width: 80%;
    height: 80%;
    background: #fff;
    top: 0%;
    left: 50%;
    border-radius: .3em;
    transform: translate(-50%, 5%);
} */

span#close-qr-reader {
    position: fixed;
    font-size: 1.2em;
    right: .5em;
    top: 1em;
    cursor: pointer;
    z-index: 10000;
    color: #ffffff;
}

#overlay-warning {
    position: fixed;
    top: 1em;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0 0 0 / 51%);
}

span#close-alert, span#zoll-close-alert {
    position: fixed;
    right: 1em;
    top: 4em;
    cursor: pointer;
}

div#viewer-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85%;
    overflow: auto;
    width: 95%;
}

video {
    width: 100%;
}

div#evochat-verlauf {
    min-height: 32vh;
    max-height: 50vh;
    overflow: auto;
    background-color: #dff1ff;
}

span#close {
    position: fixed;
    top: 2.5em;
    right: .8em;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.tooltip-window {
    position: absolute;
    background-color: azure;
    padding: .5em;
    border-radius: .3em;
    min-width: 10em;
}

span.close-tooltipp {
    float: right;
}

.btn-rounded {
    border-radius: .5em;
}

button#btn-session-reload {
    position: fixed;
    right: 1em;
    bottom: 5em;
}

.text-black-20 {
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, 0.2) !important;
}

.startbutton {
    width: 14em;
    font-size: 1.3em !important;
}

.startbutton-sp {
    width: 14em;
    font-size: 1.1em !important;
}


.ui-dialog {
    max-width: 350px;
    margin: auto;
    z-index: 10000;
}

.bg-dark, .btn-dark {
    background-color: #004355 !important;
}

body {
    background-color: azure;
}

.active {
    background-color: #e7f1ff !important;
    color: #00566a !important;
}

div#messageModal {
    position: fixed;
    z-index: 10000;
    left: 50%;
    transform: translate(-50%);
}

.z-index-high {
    z-index: 100000;
}

.modal-dialog .modal-sm {
    width: 20% !important;
}




div#column-right {
    background-color: aliceblue;
}

.place-puzzle {
    min-height: 8em;
    max-height: 11em;
    overflow: hidden;
}

.conv-popup {
    min-width: 230px;
}

.page-body-wrapper {
    min-height: calc(100vh);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
}

.table-responsive {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive-overflow {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table.table.customized th {
    background-color: aliceblue;
    padding: 1em;
}

table.table.customized td {
    padding: 1rem;
}

table.table.customized-normal td {
    font-size: 1.3rem;
}

table.table.customized-small td {
    padding: .6em;
}

table.column-table td {
    font-size: 1.5rem;
}

.table td img {
    width: 60px;
    height: 45px;
    border-radius: unset !important;
}

img.image-hover {
    width: 90%;
    height: 100%;
}

div.div-image-hover {
    position: fixed;
    width: 300px !important;
    margin-top: -200px;
    margin-left: calc(-200);
    transform: translateX(-300px);
    z-index: 1000 !important;
}

div.div-image-hover img {
    width: 100%;
    height: 100%;
}

div#pictureviwever {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#editModal {
    width: 33%;
    left: 50%;
    transform: translate(-50%);
}

.form-check {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0;
}

div#card-staplerbelegung {
    height: 45vh;
    overflow: auto;
}

.card-title-custom {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

div#stapler-overview, #getankommendlist {
    min-height: 28vh;
    overflow: auto;
}

div#dataTable_length, div#dataTable_filter {
    font-size: small;
}

div#mainsearch {
    min-height: 75vh;
    max-height: 80vh;
    overflow: auto;
}

div#gate-column-left, div#gate-column-right {
    height: 90svh;
}

#gate-column-right-bottom {
    height: 81vh;
}

#main-viewport {
    min-height: 80vh;
}

div#register-form-to-waitlist {
    min-height: 80vh;
}

div#modal-viewer {
    padding: 0 !important;
}

.count {
    position: absolute;
    margin-left: -11px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #248afd;
    margin-top: -2px;
    border: 1px solid #ffffff;
}

.laufstaps {
    height: 3em;
}

.dirve_in_confirm {
    position: fixed;
    z-index: 12;
    bottom: 3.5em;
    left: 0em;
    width: 100%;
}

.stop-zoll-sound {
    position: fixed;
    z-index: 12;
    bottom: 1em;
    right: 1em;
}

#iframe-kpi {
    width: 100%;
    min-height: 80vh;
}

.navbar-light .navbar-toggler-icon {
    background-image: unset !important;
    font-size: 1.2rem;
}

button#html5-qrcode-button-camera-permission,
button#html5-qrcode-button-camera-start,
button#html5-qrcode-button-camera-stop {
    padding: 0.4em;
    border-radius: 0.2em;
    background-color: red;
    color: #fff;
    border: 1px solid #870000;
}

select#html5-qrcode-select-camera {
    padding: .3em;
    border-radius: .2em;
    font-size: 1.2em;
    margin: .5em auto;
}

#readQRModal-btn {
    font-size: 3em;
    border: .1em solid #fff !important;
    border-radius: .4em !important;
}

.bg-opacity-45 {
    background-color: rgb(0 0 0 / 48%);
}

.bg-warning-orange {
    background-color: #ff6700 !important;
}

.tr-hover {
    cursor: pointer;
}

.tr-hover:hover {
    background-color: #7bdcdf !important;
}

.tr-hover:active {
    background-color: #7bdcdf !important;
}

.tab-pane {
    min-height: 60vh;
}

.min-height-10 {
    min-height: 10em;
}

.min-height-4 {
    min-height: 3em;
}

.seqlagerplace:hover, .seqlagerplace:active {
    background-color: black;
    color: #fff !important;
}

.card .card-title {
    color: unset;
}

.card.card-title:hover, .card.card-title:active {
    color: #fff !important;
}

.max-height-70-vh {
    max-height: 70vh;
    min-height: 70vh;
}

.form-control-sm {
    height: 1.8rem !important;
    min-height: unset;
}

div#overlay-attachment {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}

div#attachment-frame {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: #fff;
}



span#close-attachment {
    position: fixed;
    top: .2em;
    right: .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    background-color: black;
    padding: 0 .3em;
    border-radius: .2em;
    border: 1px solid #ccc;
}

div#gate-control-buttons {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%);
    height: 10em;
    width: 38em;
}

.controls {
    width: 8em;
}

div#timebox {
    position: fixed;
    bottom: 1em;
    left: .2em;
    background-color: honeydew;
}