#iframe-lkw-loading {
    width: 100%;
    height: 80vh;
    overflow: auto;
}

#iframe-lkw-parking {
    width: 100%;
    height: 90svh;
    overflow: auto;
}

#iframe-vor-anmeldung, #iframe-information {
    width: 100%;
    height: 90svh;
    overflow: auto;
}